# 데이터 불러오기

In [5]:
import pandas as pd
import zipfile

In [4]:
df = pd.read_csv("./data/lhsh.csv", encoding='cp949')

/tmp/ipykernel_26786/533150154.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/lhsh.csv", encoding='cp949')

In [13]:
with zipfile.ZipFile("./data/2022.zip", "r") as f:
    f.extractall("./data")

In [14]:
with zipfile.ZipFile("./data/2023.zip", "r") as f2:
    f2.extractall("./data")

In [17]:
import os

# 추출된 파일의 현재 이름
current_file_name = "./data/╝¡┐∩╞»║░╜├_└ⁿ┐∙╝╝░í_2022.csv"
# ╝¡┐∩╞»║░╜├_└ⁿ┐∙╝╝░í_2023.csv

# 변경할 새 파일 이름
new_file_name = "./data/2022.csv"

# 파일 이름 변경
os.rename(current_file_name, new_file_name)

In [18]:
current_file_name = "./data/╝¡┐∩╞»║░╜├_└ⁿ┐∙╝╝░í_2023.csv"
new_file_name = "./data/2023.csv"
os.rename(current_file_name, new_file_name)

In [19]:
df_2022 = pd.read_csv("./data/2022.csv", encoding='cp949')

In [21]:
df_2023 = pd.read_csv("./data/2023.csv", encoding='utf-8')

# 데이터 확인하기

In [22]:
df_2022.head(3)

,접수년도,자치구코드,자치구명,법정동코드,법정동명,지번구분코드,지번구분,본번,부번,층,...,보증금(만원),임대료(만원),건물명,건축년도,건물용도,계약기간,신규계약구분,갱신청구권사용,종전보증금,종전임대료
0,2022,11560,영등포구,12600,양평동2가,1.0,대지,1.0,3.0,6.0,...,16000,0,힘멜하임,2014.0,오피스텔,22.01~24.01,신규,NaN,0.0,NaN
1,2022,11560,영등포구,11800,도림동,NaN,NaN,NaN,NaN,NaN,...,300,30,NaN,1986.0,단독다가구,NaN,NaN,NaN,NaN,NaN
2,2022,11215,광진구,10700,화양동,1.0,대지,111.0,12.0,19.0,...,10000,135,NaN,2021.0,오피스텔,22.01~24.01,신규,NaN,0.0,0.0

In [23]:
df_2023.head(3)

,접수년도,자치구코드,자치구명,법정동코드,법정동명,지번구분코드,지번구분,본번,부번,층,...,보증금(만원),임대료(만원),건물명,건축년도,건물용도,계약기간,신규계약구분,갱신청구권사용,종전보증금,종전임대료
0,2023,11440,마포구,11000,노고산동,1.0,대지,1.0,1.0,8.0,...,10000,40,\t(1-1)\t,1998.0,오피스텔,23.01~24.01,신규,NaN,0.0,0.0
1,2023,11440,마포구,11000,노고산동,1.0,대지,1.0,1.0,5.0,...,10000,55,\t(1-1)\t,1998.0,오피스텔,23.02~24.02,갱신,NaN,10000.0,55.0
2,2023,11440,마포구,11000,노고산동,1.0,대지,1.0,1.0,9.0,...,21000,0,\t(1-1)\t,1998.0,오피스텔,23.02~24.02,신규,NaN,0.0,NaN

In [16]:
df.head(3)

,임대종류,광역시도,시군구,도로명주소,단지명,세대수,주택유형,임대사업자,주차수,형명,공급면적(전용),공급면적(공용),임대보증금,월임대료,전환보증금
0,매입임대,서울특별시,종로구,서울특별시 종로구 난계로29길 13,서울특별시 종로구,103,오피스텔,LH서울,0,19,19.18,9.7318,2000000,320770,0
1,매입임대,서울특별시,종로구,서울특별시 종로구 난계로29길 13,서울특별시 종로구,103,오피스텔,LH서울,0,20,20.49,10.1021,2000000,328330,0
2,매입임대,서울특별시,종로구,서울특별시 종로구 난계로29길 13,서울특별시 종로구,103,오피스텔,LH서울,0,21,21.79,10.7685,2000000,354680,0

In [25]:
print(df_2022.shape)
print(df_2023.shape)
print(df.shape)

(560665, 23)
(545813, 23)
(110816, 15)

In [28]:
print(df_2022.columns)
print(df_2023.columns) #2022년 <> 2023년 데이터 컬럼 동일함
print(df.columns)

Index(['접수년도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분코드', '지번구분', '본번', '부번',
       '층', '계약일', '전월세구분', '임대면적', '보증금(만원)', '임대료(만원)', '건물명', '건축년도',
       '건물용도', '계약기간', '신규계약구분', '갱신청구권사용', '종전보증금', '종전임대료'],
      dtype='object')
Index(['접수년도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분코드', '지번구분', '본번', '부번',
       '층', '계약일', '전월세구분', '임대면적', '보증금(만원)', '임대료(만원)', '건물명', '건축년도',
       '건물용도', '계약기간', '신규계약구분', '갱신청구권사용', '종전보증금', '종전임대료'],
      dtype='object')
Index(['임대종류', '광역시도', '시군구', '도로명주소', '단지명', '세대수', '주택유형', '임대사업자', '주차수',
       '형명', '공급면적(전용)', '공급면적(공용)', '임대보증금', '월임대료', '전환보증금'],
      dtype='object')

## 청년안심임대

In [39]:
import requests 
import pandas as pd

In [40]:
payload = {"searchWrd":"", 
"xpos":"", 
"ypos":"",}

url = "https://soco.seoul.go.kr/youth/pgm/home/yohome/maplist.json"
r = requests.post(url, data=payload)
ansim = r.json()
ansim_df = pd.DataFrame(ansim['mapResultList'])

In [41]:
ansim_df.head(3)

,rnum,homeCode,mainImgAtchFileId,mainImgAtchFileSeq,adresSi,adresGu,adresRo,adres,adresDetail,homeName,...,fnTradPrice,statusCnt,roomTotArea,regDate,xpos,ypos,houseStrut,subwayLineCd,fileId,fileSn
0,1,20000540,None,None,서울,은평구,갈현동 456-25,은평구 갈현동 456-25,THE STUDIO 163,연신내역 THE STUDIO 163,...,-6502,0,17A,1712125695000,126.9190859,37.6179079,None,"03,06",16d932a39bb04b9cae0ca3653aa07108,1
1,2,20000537,None,None,서울,중랑구,상봉동 118-8,중랑구 상봉동 118-8,상봉동양엔파트,상봉역 상봉동양엔파트,...,-6502,0,18.03(18A),1711088694000,127.0822135,37.5950616,None,"07,12,14",01dccb9cec424549b0f6b671b3e69887,1
2,3,20000366,None,None,서울,중랑구,봉우재로 111,중랑구 봉우재로 111,제이스타상봉,상봉역 제이스타상봉,...,-6502,0,17.02,1646875909000,127.0852776,37.5926916,None,"07,12,14",73758eda9e5d4d389892785146e89c3b,11

In [42]:
ansim_df.shape

(50, 42)

In [43]:
ansim_df.columns

Index(['rnum', 'homeCode', 'mainImgAtchFileId', 'mainImgAtchFileSeq',
       'adresSi', 'adresGu', 'adresRo', 'adres', 'adresDetail', 'homeName',
       'totArea', 'totFloor', 'totPeople', 'optionSubway', 'presale',
       'presaleNm', 'movinTerms', 'movinHoman', 'houseSupplyNm', 'managerComp',
       'moneyDeposit', 'moneyDepositLow', 'moneyRentalLow', 'tradPrice',
       'scaleTot', 'managerPhone', 'homepage', 'fnMoneyDeposit',
       'fnMoneyDepositLow', 'fnMoneyDepositHigh', 'fnMoneyRentalLow',
       'fnMoneyRentalHigh', 'fnTradPrice', 'statusCnt', 'roomTotArea',
       'regDate', 'xpos', 'ypos', 'houseStrut', 'subwayLineCd', 'fileId',
       'fileSn'],
      dtype='object')

In [49]:
ansim_df[ansim_df['moneyDeposit', 'moneyDepositLow']]

#'adresGu', 'adresRo','fnMoneyDepositLow', 'fnMoneyDepositHigh', 'fnMoneyRentalLow',
 #      'fnMoneyRentalHigh'

KeyError: ('moneyDeposit', 'moneyDepositLow')